<h2>Contraintes des Enseignants</h2>
<table border="1">
  <tr>
    <th>Enseignant</th><th>Jour</th><th>Début</th><th>Fin</th>
  </tr>
  {% for c in contraintes_ens %}
    <tr>
      <td>{{ c.enseignant.nom }}</td><td>{{ c.jour }}</td><td>{{ c.heure_debut }}</td><td>{{ c.heure_fin }}</td>
    </tr>
  {% endfor %}
</table>

<h2>Contraintes des Salles</h2>
<table border="1">
  <tr>
    <th>Salle</th><th>Jour</th><th>Début</th><th>Fin</th>
  </tr>
  {% for c in contraintes_salles %}
    <tr>
      <td>{{ c.salle.nom }}</td><td>{{ c.jour }}</td><td>{{ c.heure_debut }}</td><td>{{ c.heure_fin }}</td>
    </tr>
  {% endfor %}
</table>
