<h1>Tableau de Bord</h1>

<ul>
    <li><a href="{% url 'ajouter_enseignant' %}">Ajouter un Enseignant</a></li>
    <li><a href="{% url 'liste_enseignants' %}">Liste des Enseignants</a></li>

    <li><a href="{% url 'ajouter_filiere' %}">Ajouter une Filière</a></li>
    <li><a href="{% url 'liste_filieres' %}">Liste des Filières</a></li>

    <li><a href="{% url 'ajouter_module' %}">Ajouter un Module</a></li>
    <li><a href="{% url 'liste_modules' %}">Liste des Modules</a></li>

    <li><a href="{% url 'ajouter_salle' %}">Ajouter une Salle</a></li>
    <li><a href="{% url 'liste_salles' %}">Liste des Salles</a></li>

    <li><a href="{% url 'ajouter_groupe' %}">Ajouter un Groupe</a></li>
    <li><a href="{% url 'liste_groupes' %}">Liste des Groupes</a></li>

    <li><a href="{% url 'ajouter_seance' %}">Ajouter une Séance</a></li>
    <li><a href="{% url 'liste_seances' %}">Liste des Séances</a></li>
</ul>
