{% load custom_tags %}

{% block content %}
  <h2>Disponibilités des Enseignants</h2>

  <table border="1">
    <tr>
      <th>Enseignant</th>
      <th>Jour</th>
      <th>Créneau</th>
      <th>Actions</th>
    </tr>
    {% for dispo in disponibilites %}
    <tr>
      <td>{{ dispo.enseignant.nom }}</td>
      <td>{{ dispo.jour }}</td>
      <td>{{ dispo.heure_debut }} - {{ dispo.heure_fin }}</td>
      <td>
        <a href="{% url 'modifier_disponibilite_enseignant' pk=dispo.pk %}">Modifier</a> |
        <a href="{% url 'supprimer_disponibilite_enseignant' pk=dispo.pk %}">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
  </table>


{% endblock %}
